{{>layout/header}}

<section style="font-family: Montserrat" class="bg-[#071e34] flex font-medium items-center justify-center h-screen">

    <section class="w-2/3 mx-auto bg-[#20354b] rounded-2xl px-8 py-6 shadow-lg">
        <div class="flex items-center justify-between">
            <span class="text-gray-400 text-sm">깃헙 프로필</span>
            <span class="text-emerald-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/>
              </svg>
            </span>
        </div>
        <div class="mt-8 w-fit mx-auto">
            <img src={{githubProfileImageUrl}} class="rounded-full w-28 " alt="profile picture" srcset="">
        </div>

        <div class="mt-10">
            <h2 class="text-white font-bold text-2xl tracking-wide">{{githubUserName}}</h2>
        </div>

        <div class="mt-1 text-blue-100 text-sm">
            <span>{{bio}}</span>
        </div>

        <div class="mt-1 text-blue-200 text-sm">
            <span>{{email}}</span>
        </div>

        <div class="mt-0 text-blue-200 text-sm">
            <span>{{location}}</span>
        </div>

        <div class="mt-3 text-blue-100 hover:text-blue-200 text-sm">
            <span><a href={{blog}}>{{blog}}</a></span>
        </div>

    </section>


</section>


{{>layout/footer}}
